@model IEnumerable<BTQLNV.Models.PhongBanView>

@{
    ViewData["Title"] = "Danh sach phong ban";
}

<h1>Danh sach phong ban</h1>

<p>
    <a asp-action="Create" asp-controller="PhongBan">Create New phong ban</a>
</p>
<p>
    <a asp-action="Create" asp-controller="NhanVien">Create New nhan vien</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaPB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenPB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenPB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "PhongBan", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Index", "NhanVien", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", "PhongBan", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
