@model IEnumerable<BTQLNV.Models.NhanVien>

@{
    ViewData["Title"] = "Danh sach nhan vien";
    var phongBan = new PhongBanView();
    phongBan = ViewBag.PhongBan;
}

<h1> @phongBan.TenPB - Danh sach nhan vien (@phongBan.SoLuong)</h1>

<p>
    <a asp-action="Create" asp-controller="NhanVien">Create New</a>
</p>
<p>
    <a asp-action="Index" asp-controller="PhongBan">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "NhanVien", new { id = item.MaNV }) |
                    @Html.ActionLink("Details", "Details", "NhanVien", new { id = item.MaNV }) |
                    @Html.ActionLink("Delete", "Delete", "NhanVien", new { id = item.MaNV, PBID = item.IDPB })
                </td>
            </tr>
        }
    </tbody>
</table>
