@model BooksManagement.Models.Book.Request.AddBook
@using BooksManagement.Models.Category.Response
@{
    ViewData["Title"] = "Add Book";
    var categories = new List<CategoryList>();
    categories = ViewBag.Categories;
}

<h1>Add Book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBook" asp-controller="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["Success"]</strong>
                </div>
            }
            else
            {
                if (TempData["Error"] != null)
                {
                    <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["Error"]</strong>
                    </div>
                }
            }

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDescription" class="control-label"></label>
                <input asp-for="SDescription" class="form-control" />
                <span asp-validation-for="SDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearPublication" class="control-label"></label>
                <input asp-for="YearPublication" class="form-control" />
                <span asp-validation-for="YearPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "BooksList", "Book", null, new { @class = "btn btn-outline-dark" })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // show the alert
            setTimeout(function () {
                $(".alert").alert('close');
            }, 5000);
        });
    </script>
}
